:root {
  --primery-text-color: #212121;
  --accent-color: #2196f3;
  --secondary-text-color: #757575;
  --third-text-color: #ffffff;
  --background-color: #2f303a;
  --portfolio-bg-color: rgba(255, 255, 255, 1);
}

*,
::after,
::before {
  box-sizing: border-box;
}

* p,
h1,
h2,
h3,
ul,
li {
  width: 0;
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
  padding: 0;
}

ul {
  padding: 0;
  margin: 0;
}

h3 {
  margin: 0;
  padding: 0;
}

.list {
  list-style: none;
  box-sizing: border-box;
}

a {
  display: inline-block;
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
}

.title {
  margin-bottom: 10px;
}

.link {
  padding: 32px 0;
  transition: color 250ms linear;
  -webkit-animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.page__body {
  padding-top: 24px 0px 60px 0px;
  color: var(--primery-text-color);
  background-color: var(--third-text-color);
  font-family: "Roboto", sans-serif;
}

.img-cases > a {
  display: inline-block;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.nav-wrap > li {
  margin-right: 50px;
}

.nav-wrap > li:nth-child(3) {
  margin-right: 0px;
}

.nav-wrap .link > li:nth-last-child(3) {
  margin-right: 0px;
}

.nav-wrap .link:hover,
.nav-wrap .link:focus {
  color: var(--accent-color);
}

.nav-wrap .link {
  color: var(--primery-text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-wrap .list > ul {
  margin: 0;
  padding: 0;
}

.page-header__nav {
  display: flex;
  margin-right: 0px;
}

.page-header__navigation {
  position: relative;
}

.page-header .container {
  display: flex;
}

.container .nav-wrap {
  display: flex;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
  color: rgb(236, 236, 236);
}

.page-header__logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  letter-spacing: 0.03em;
  color: var(--primery-text-color);
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;
}

.page-header__logo--color {
  margin-top: 24px;
  color: var(--accent-color);
}

.page-footer__logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  margin-bottom: 20px;
  letter-spacing: 0.03em;
  color: var(--primery-text-color);
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;
}

.page-footer__logo--color {
  margin-top: 24px;
  color: var(--accent-color);
}

.hero {
  background: var(--background-color);
  padding: 200px 0px;
  max-width: 1600px;
  height: 600px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg.jpg);
}

.hero-portfolio {
  background: var(--portfolio-bg-color);
  border-top: 1px solid rgb(236, 236, 236);
  padding-top: 94px;
  padding-bottom: 94px;
}

.pointer {
  cursor: pointer;
}

.features {
  padding: 94px 0;
  margin-bottom: 118px;
}

.special {
  display: flex;
  justify-content: center;
  align-items: center;
}

.special__item {
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  margin-right: 10px;
  border-radius: 4px;
}

.special .special__item {
  margin-right: 30px;
}

.special .special__item:last-child {
  margin-right: 0;
}

.special__link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.special__desk {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.section__products {
  margin-top: 0;
}

.benefits__list {
  display: flex;
  padding-bottom: 94px;
  flex-grow: 1;
}

.benefits__list__img {
  margin-right: 30px;
}

.benefits__list > li > img {
  justify-content: space-between;
  padding: 0;
}

.benefits__list__wrapper {
  position: relative;
  overflow: hidden;
}

.benefits__list__wrapper > img {
  display: block;
  margin-bottom: -2px;
}

.benefits__list__item {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 370px;
  height: 70px;
}

.teams__list__worker__img {
  display: block;
}

.teams__list {
  display: flex;
  justify-content: space-between;
}

.teams__list__worker {
  text-align: center;
  width: 270px;
  background-color: var(--third-text-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.teams {
  background: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
}

.worker__name__subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.worker__name {
  padding: 30px;
}

.worker__name__caption {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primery-text-color);
}

.clients {
  padding: 94px 0;
}

.brand__item {
  width: 170px;
  height: 92px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #afb1b8;
  margin-right: 30px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.brand__item:last-child {
  margin-right: 0;
}

.brand__item:hover,
.brand__item:focus {
  border-color: #2196f3;
}

.brand {
  display: flex;
  justify-content: center;
  align-items: center;
}

.brand__link {
  color: currentColor;
  fill: currentColor;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  transition: fill 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.brand__link:hover,
.brand__link:focus {
  fill: #2196f3;
}

.content__title-card {
  padding: 20px 18px;
  border-left: 1px solid rgb(238, 238, 238);
  border-bottom: 1px solid rgb(238, 238, 238);
  border-right: 1px solid rgb(238, 238, 238);
  background-color: var(--third-text-color);
}

.content.list > li {
  margin: 0;
}

.content .list > text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.8;
  color: var(--secondary-text-color);
  letter-spacing: 0.03em;
}

.content.list {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  gap: 30px;
  padding: 0;
  list-style: none;
}

.content__link {
  display: block;
}

.content__link:hover,
.content__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.content__link__wrapper {
  position: relative;
  overflow: hidden;
}

.content__link__wrapper > img {
  display: block;
  margin-bottom: -2px;
}

.content__link__description {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.content__link:hover .content__link__description {
  transform: translateY(0);
}

.caption {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin: 0;
}

.text.headline {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #757575;
}

.footer__mail {
  display: block;
  margin-left: 93px;
}

.footer-wrapper {
  display: flex;
}

.footer__mail__label {
  display: block;
  margin-bottom: 4px;
  margin-bottom: 20px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer__mail__input {
  background-color: #2f303a;
  padding: 15px 16px;
  color: #ffffff;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

.footer__social__item {
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  margin-right: 10px;
  border-radius: 50%;
  transition: color 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__social {
  margin-left: 70px;
}

.footer__icon {
  display: flex;
  margin-top: 20px;
}

.footer__icon:last-child {
  margin-right: 0;
}

.footer .icon-link {
  fill: #ffffff;
}

.footer__nav {
  display: flex;
  align-items: baseline;
}

.page-footer {
  background: var(--background-color);
  padding: 60px 0;
}

.link-footer {
  padding: 0;
  margin: 0;
}

.social-heder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.selected {
  position: relative;
}

.selected::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background: #2196f3;
  border-radius: 2px;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.button {
  color: var(--third-text-color);
  background-color: var(--accent-color);
  display: block;
  box-sizing: content-box;
  margin: 0 auto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  border-radius: 4px;
  border: 0;
  padding: 6px 25px;
  text-align: center;
  letter-spacing: 0.06em;
  transition: color 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-nav .button {
  color: var(--primery-text-color);
  background: #f5f4fa;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  font-family: inherit;
  transition: color 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-nav .button:hover,
.button-nav .button:focus {
  color: var(--third-text-color);
  background: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*main-portfolio*/
.button-nav.list {
  display: flex;
  justify-content: center;
  margin-bottom: 34px;
}

.button-nav.list > li {
  margin: 0 8px 0 0;
}

.close-button:hover,
.close-button:focus {
  background-color: #ffffff;
  stroke: rgb(33, 150, 243);
}

.footer__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  border-radius: 4px;
  border: 0;
  padding: 6px 25px;
  text-align: center;
  letter-spacing: 0.06em;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--third-text-color);
  background-color: var(--accent-color);
  margin-left: 12px;
  cursor: pointer;
}

.footer__button::after {
  margin-right: 8px;
  content: "";
  display: flex;
  width: 24px;
  height: 24px;
  color: #ffffff;
  margin-left: 10px;
  /* background-color: #ffffff; */
  background-image: url(../images/icon-send-plaine.svg);
  background-repeat: no-repeat;
  background-position: center;
}

button:hover,
button:focus {
  background-color: #1976d2;
}

.modal-button {
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  border-radius: 4px;
  border: 0;
  padding: 6px 25px;
  text-align: center;
  letter-spacing: 0.06em;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--third-text-color);
  background-color: var(--accent-color);
  transition: color 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-title {
  font-style: normal;
  max-width: 696px;
  margin: 0 auto;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--third-text-color);
}

.section__products__title {
  color: var(--primery-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin: 0 0 50px 0;
}

.clients__title {
  color: var(--primery-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin: 0 0 50px 0;
}

.teams__title {
  color: var(--primery-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin: 0 0 50px 0;
}

.text.list {
  display: flex;
  margin-top: 30px;
}

.desk {
  max-width: 270px;
}

.text-list .title {
  color: var(--primery-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.special__title.subject {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primery-text-color);
}

.social-icons__item:last-child {
  margin-right: 0;
}

.social-icons__item {
  width: 44px;
  height: 44px;
  background-color: #ffffff;
  margin-right: 10px;
  border-radius: 50%;
}

.icon-link {
  fill: #afb1b8;
  border-radius: 50%;
  transition: color 250ms linear;
}

.icon-link:hover {
  fill: #ffffff;
}

.social-icons {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.link-connection__mail__icon {
  stroke: #757575;
  fill: none;
}

.link-connection__mail :hover .link-connection__mail__icon {
  stroke: var(--accent-color);
}

.link-connection__phone__icon {
  stroke: #757575;
  fill: none;
}

.link-connection__phone :hover .link-connection__phone__icon {
  stroke: var(--accent-color);
}

.link-connection__phone__icon:hover {
  stroke: var(--accent-color);
}

.link-connection__phone__icon {
  margin-right: 10px;
}

.link-connection__mail__icon:hover {
  stroke: var(--accent-color);
}

.link-connection__mail__icon {
  margin-right: 10px;
}

.input-icon {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  fill: rgb(33, 33, 33);
}

.social-link:hover.icon-link {
  background: #2196f3;
  transition: background 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 500ms, visibility 500ms;
}

.modal {
  position: absolute;
  width: 528px;
  height: auto;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 500ms;
  transition-property: transform;
  transform-origin: top left;
  background-color: #ffffff;
  border-radius: 4px;
}

.modal-backdrop.is-hidden {
  pointer-events: none;
  opacity: 0;
}

.modal-backdrop.is-hidden .modal {
  transform: scale(0.1);
}

.modal-icon {
  cursor: pointer;
  stroke: rgb(0, 0, 0);
  fill: #000000;
  color: #ffffff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.modal-icon:hover,
.modal-icon:focus {
  stroke: rgb(33, 150, 243);
  fill: rgb(33, 150, 243);
}

.modal-form {
  padding: 0 40px;
}

.modal-input {
  width: 448px;
  height: 40px;
  margin-bottom: 10px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 15px;
  padding-left: 30px;
}

.modal-input:hover,
.modal-input:focus {
  border: 1px solid rgb(33, 150, 243);
}

.modal-heder {
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  font-weight: bold;
  color: #212121;
  margin-top: 40px;
}

.modal-label {
  display: block;
  margin-bottom: 4px;
  margin-top: 10px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal-textarea {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  resize: none;
  outline: 1px solid rgba(33, 33, 33, 0.2);
}

.modal-textarea:hover,
.modal-textarea:focus {
  outline: 1px solid rgb(33, 150, 243);
}

.modal-input {
  display: block;
  outline: rgba(33, 33, 33, 0.2);
}

.modal-input:focus {
  display: block;
  outline: rgb(33, 150, 243);
}

.modal-input:focus + .input-icon {
  fill: rgb(33, 150, 243);
}

.modal-input:hover {
  fill: rgb(33, 150, 243);
}

.close-wraper {
  padding: 0;
}

.close-sign {
  position: absolute;
  display: flex;
  justify-content: center;
  cursor: pointer;
  align-items: center;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.user-text {
  display: block;
  margin-bottom: 4px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
}

.label-name {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
}

.consent {
  display: flex;
  margin-top: 20px;
  margin-bottom: 30px;
  margin-left: 20px;
}

.checkbox {
  margin-right: 7px;
}

.submit {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin-bottom: 40px;
}

.Terms {
  text-decoration: underline;
  color: rgb(33, 150, 243);
  margin-left: 4px;
}

.text-confirm {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.input-wrapper {
  position: relative;
  margin-bottom: 10px;
}/*# sourceMappingURL=maine.css.map */