.nav-wrap>li {
    margin-right: 50px;
}

.nav-wrap>li:nth-child(3) {
    margin-right: 0px;
}

.nav-wrap .link>li:nth-last-child(3) {
    margin-right: 0px;
}

.nav-wrap .link:hover,
.nav-wrap .link:focus {
    color: var(--accent-color);
}
.nav-wrap .link {
    color: var(--primery-text-color);
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition: color 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-wrap .list>ul {
    margin: 0;
    padding: 0;
}