.worker__name__subtitle {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;

    text-align: center;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
}

.worker__name {
    padding: 30px;
}

.worker__name__caption {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;

    letter-spacing: 0.06em;
    color: var(--primery-text-color);
}