.register-form__title {
	display: block;
	text-align: center;
	font-size: 20px;
	margin-bottom: 10px;
	font-weight: 700;
	font-size: 20px;
	line-height: 23px;
	text-align: center;
	letter-spacing: 0.03em;
	color: #212121;
}

.register-form {
	letter-spacing: 0.01em;
}

.register-form__group {
	margin-bottom: 20px;
}
  
.register-form__field {
	position: relative;
	display: block;
	margin-bottom: 10px;
	transform: translateY(18px);
}
  
.register-form__label {
	display: block;
	left: 5px;
	font-family: var(--main-font);
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 14px;
	letter-spacing: 0.01em;
	color: #757575;
}
  
.register-form__input {
	width: 100%;
	height: 35px;
	padding-left: 42px;
	padding-right: 42px;
	margin-top: 3px;
	border: 1px solid #191c26;
	border-radius: 10px;
	outline: transparent;
	transition: border-color 250ms;
	box-sizing: border-box;
	border: 1px solid rgba(33, 33, 33, 0.2);
	border-radius: 4px;
}
  
.register-form__input:focus  {
	border: 1px solid rgba(33, 150, 243, 0.9);
}

.register-form__input:focus ~ .register-form__icon {
	fill: #2196f3;
}

.register-form__feedback {
	display: block;
	left: 5px;
	font-family: var(--main-font);
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 14px;
	letter-spacing: 0.01em;
	color: #757575;
}

.modal-textarea { 
	display: block;
  	width: 100%;
  	height: 130px;
  	padding: 16px;
 	font-size: 14px;
  	resize: none;
  	outline: transparent;
	color: rgba(117, 117, 117, 0.5);
}

.modal-textarea::placeholder {
	padding: 0;
}

.register-form__icon {
	position: absolute;
	top: 65%;
	left: 10px;
	transform: translateY(-50%);
	fill: #212121;
}
  
.register-form__icon:hover  
.register-form__icon:focus
.register-form__icon::placeholder{
	fill: #2196f3;
	transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
  
.register-form-notification {
	position: absolute;
	top: 50%;
	right: 10px;
	transform: translateY(-50%);
	display: block;
  }
  
  
  .register-form-heading {
	display: block;
	margin-bottom: 10px;
	font-size: 14px;
  }
  
  .register-form-message {
	
  }
  
  .register-form-message::placeholder {
	font-size: 14px;
  }
  
  .register-form__agreement {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
	margin-top: 20px;
  }
  
  .register-form-desc {
	font-size: 14px;
	user-select: none;
}
  
.register-form__link {
	color: #2196f3;
	text-decoration: underline;
}
  
.register-form__btn {
	display: flex;
	font-weight: 700;
	margin: 0 auto;
	margin-top: 30px;
	width: 200px;
	height: 50px;
	border-radius: 5px;
	align-items: center;
	text-align: center;
	justify-content: center;
	letter-spacing: 0.06em;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	background: var(--button-bg-cl);
	color: var(--light-txt-cl);
}

.register-form__btn:focus {
	background: #188CE8;
}

.register-form__checkbox:checked + .register-form__agreement {
	color: #2196f3;
}