.send-form {
	margin-top: 12px;
	left: 816px;
}

.footer__send-p {
	font-family: var(--main-font);
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	line-height: 16px;
	margin-bottom: 15px;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: #FFFFFF;
}

.footer__form-send {
	display: flex;
}

