:root {
    --primery-text-color: #212121;
    --accent-color: #2196f3;
    --secondary-text-color: #757575;
    --third-text-color: #ffffff;
    --background-color: #2f303a;
    --portfolio-bg-color: rgba(255, 255, 255, 1);
}