:root {
	/* Fonts */
	--main-font: "Roboto", sans-serif;
	--secondary-font: "Raleway", sans-serif;
	/*Text colors*/
	--main-txt-cl: #757575;
	--second-txt-cl: #212121;
	--accent-txt-cl: #2196f3;
	--light-txt-cl: #ffffff;
	--black-txt-cl: #000000;
	--black-opacity-txt-cl: rgba(255, 255, 255, 0.6);

	/*Background colors*/
	--main-bg-cl: #FFFFFF;
	--secondary-bg-cl: #2f303a;
	--third-bg-cl: #f5f4fa;
	--button-bg-cl: #2196f3;
}
