.about {
	padding-top: 94px;
	padding-bottom: 94px;
}

.feature-list {
	display: flex;
	gap: 30px;
}

.feature-list__title {
	margin-bottom: 10px;
	margin-top: 15px;
}

.about__icon-overlay {
	height: 120px;
	background: #F5F4FA;
	border-radius: 4px;
	margin-bottom: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
}
