.site-nav,
.header-contacts {
	display: flex;
	align-items: center;
}

nav:active {
	color: var(--accent-txt-cl);
}

.header-contacts li a {
	margin-left: 10px;
	display: flex;
	align-items: center;
}

.header-contacts li a:hover {
	fill: #2196f3;
	
}

.header-contacts li a svg {
	margin-right: 10px;
}

.site-nav .is-active {
	color: var(--accent-txt-cl);
}

.current::after {
	position: absolute;
	display: block;
	content: "";
	bottom: 0;
	left: 0;
	width: 100%;
	height: 4px;
	border-radius: 2px;
	background: #2196f3;
}

.head__link a{
	position: relative;
	padding: 32px 0;
}


.site-nav a {
	text-decoration: none;
	color: var(--second-txt-cl);
}

.site-nav a:hover,
.site-nav a:focus {
	color: var(--accent-txt-cl);
}

.site-nav li:not(:last-child),
.header-contacts li:not(:last-child) {
	margin-right: 50px;
}
